<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sentipayapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SentiPayApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".BuyerTransactionConfirmedActivity"></activity>
        <activity android:name=".SellerTransactionConfirmedActivity" />
        <activity android:name=".BuyerConfirmationActivity" />
        <activity android:name=".EscrowLinkActivity" />
        <activity android:name=".EscrowPaymentActivity" />
        <activity android:name=".SellerConfirmationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>